<div class="titan-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="titan-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Home</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="titan-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <app-sidebar></app-sidebar>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <router-outlet></router-outlet>
  </main>
</div>