<h2>Industry Jobs</h2>
<table class="w-100 table table-sm">
  <thead>
    <tr>
      <td>Name</td>
      <td>Activity</td>
      <td>Status</td>
      <td>End Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of jobs?.jobs | keyvalue">
      <td>
        <app-type [type]="entry.value.blueprint" [blueprint]="true"></app-type>
      </td>
      <td>{{ activityToName[entry.value.activityID] }}</td>
      <td>{{ entry.value.status }}</td>
      <td>{{ entry.value.endDate | date:'medium' }}</td>
    </tr>
  </tbody>
</table>