<div>
  <label for="sortBy">Sort By</label>
  <select id="sortBy" [(ngModel)]="sortBy" (ngModelChange)="onSortByChanged($event)">
    <option *ngFor="let option of sortByOptions">{{ option }}</option>
  </select>
</div>

<div>
  <label for="nameFilter">Filter</label>
  <input type="text" id="nameFilter" [(ngModel)]="nameFilter" (ngModelChange)="onSortByChanged($event)" />
</div>

<div>
  <label for="hasRequiredSkillsOnly">Required Skills only</label>
  <input type="checkbox" id="hasRequiredSkillsOnly" [(ngModel)]="hasRequiredSkillsOnly"
    (ngModelChange)="onSortByChanged($event)" />
</div>

<div>
  <label for="maxProductionCosts">Maximum Production Costs</label>
  <input type="text" id="maxProductionCosts" [(ngModel)]="maxProductionCosts"
    (ngModelChange)="onSortByChanged($event)" />
  ISK
</div>

<p>
  <button class="btn btn-primary mr-2" (click)="onSelectAll()">Select All</button>
  <button class="btn btn-primary" (click)="onDeselectAll()">Deselect All</button>
</p>
<ng-container *ngIf="categories">
  <div *ngFor="let item of selectedCategories | keyvalue" style="float: left">
    <input type="checkbox" id="categoryID:{{item.key}}" [(ngModel)]="this.selectedCategories[item.key]"
      (ngModelChange)="onSortByChanged($event)" />
    <label class="pr-1" for="categoryID:{{item.key}}">{{ categories[item.key].categoryName}}</label>
  </div>
</ng-container>

<div style="clear: both"></div>

<ul class="list-group">
  <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let product of products">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><a [routerLink]="['/manufacturing', product.typeID ]">{{ product.typeName }}</a></h5>
      <img style="width: 32px; height: 32px" src="assets/skill_points_64.png" *ngIf="product.hasRequiredSkills">
    </div>
    <p class="mb-1">
      <img src="https://image.eveonline.com/Type/{{ product.typeID }}_64.png" />
      {{ product.basedOnBuyPrice | number:'1.0-0' }} ISK Profit per Day (based on buy price) /
      {{ product.basedOnSellPrice | number:'1.0-0' }} ISK Profit per Day (based on sell price)
    </p>
    <small>{{ categories[product.categoryID].categoryName }}</small>
  </li>
</ul>